<h1 class="d-block text-center my-4">Suas listas:</h1>
        
<div class="container position-relative testimonial-group text-center bg-secondary-subtle border border-2 rounded" style="height: 350px">
    <div class="row h-100">
        <% @lists.each do |list| %>
            <a href="#" class="col-3 h-100 align-top no-decoration">
                <h3><%= list.title %></h3>
                <ul class="list-group list-group-flush h-75 bg-warning-subtle border border-warning bg-light overflow-y-hidden">
                    <% list.items.each do |item| %>
                        <li class="list-group-item bg-warning-subtle">
                                <%= check_box_tag("item-#{item.id}", value=true, checked=item.marked, :class => "form-check-input me-1", disabled: true) %>
                                <span class="<%= item.marked ? "text-decoration-line-through" : "" %>"><%= item.description %></span>
                        </li>
                    <% end %>
                </ul>
            </a> 
        <% end %>
    </div>
    <%= button_to("Nova lista", new_list_path, :class => "position-absolute bottom-0 end-0 translate-middle-y btn btn-primary btn-sm", :method => "get") %>
</div>

<div class="container" style="height: 70px">
    <div class="row align-items-center h-100">
        <div class="col fs-4"><%= "#{@items.select{|item| item.marked}.count}/#{@items.count} tarefas concluídas!" %></div>
        <div class="col d-flex flex-row justify-content-end">
            <%= button_to("Limpar tarefas", "", :class => "btn btn-secondary btn-lg me-3") %>
            <%= button_to("Apagas listas vazias", "", :class => "btn btn-dark btn-lg ms-3") %>
        </div>
    </div>
</div>